<ng-container *ngIf="pokemon;else showLoading">
    <mat-card>
        <mat-card-header>
            <img mat-card-avatar [src]="pokemon.sprites.other!.dream_world.front_default" [alt]="pokemon.name">
            <mat-card-title>{{pokemon.name}}</mat-card-title>
            <mat-card-subtitle>Experiencia: {{ pokemon.base_experience }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-tab-group mat-stretch-tabs="true">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="tab-icon">image</mat-icon>
                        Imagenes
                    </ng-template>

                    <carousel>
                        <slide>
                            <img mat-card-image [src]="pokemon.sprites.other!.home.front_default">
                        </slide>

                        <slide>
                            <img mat-card-image [src]="pokemon.sprites.other!.home.front_shiny">
                        </slide>

                    </carousel>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="tab-icon">grade</mat-icon>
                        Habilidades
                    </ng-template>

                    <mat-nav-list>
                        <mat-list-item *ngFor="let item of pokemon.abilities">
                            <mat-icon matListItemIcon>grade</mat-icon>
                            <span>{{item.ability.name}}</span>
                        </mat-list-item>
                    </mat-nav-list>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="tab-icon">sports_esports</mat-icon>
                        Juegos Aparecidos
                    </ng-template>
                    <mat-nav-list>
                        <mat-list-item *ngFor="let item of pokemon.game_indices">
                            <mat-icon matListItemIcon>sports_esports</mat-icon>
                            <span>{{item.version.name}}</span>
                        </mat-list-item>
                    </mat-nav-list>
                </mat-tab>
                <mat-tab label="Acerca ">
                    <ng-template mat-tab-label>
                        <mat-icon class="tab-icon">description</mat-icon>
                        Acerca
                    </ng-template>

                    <mat-nav-list>
                        <h3 mat-subheader>Datos Antropométricos</h3>
                        <mat-list-item>
                            Altura: {{ pokemon.height }}
                        </mat-list-item>

                        <mat-list-item>
                            Peso: {{ pokemon.weight }}
                        </mat-list-item>
                    </mat-nav-list>

                    <mat-divider></mat-divider>

                    <mat-nav-list>
                        <h3 mat-subheader>Estadisticas</h3>
                        <mat-list-item *ngFor="let stat of pokemon.stats">
                            <span>base stat: {{stat.base_stat}} - stat name: {{ stat.stat.name }}</span>
                        </mat-list-item>
                    </mat-nav-list>
                </mat-tab>
            </mat-tab-group>


        </mat-card-content>
    </mat-card>
</ng-container>

<ng-template #showLoading>
    <mat-card>
        <img mat-card-image src="https://i.pinimg.com/originals/27/ae/5f/27ae5f34f585523fc884c2d479731e16.gif">
    </mat-card>
</ng-template>