<h2 class="f2 mt-5">Lista de Pokemons</h2>

<ng-container *ngIf="pokemonList!.length > 0;else showMessage">
    <div class="row mt-5">
        <div class="col-12 col-md-4 col-lg-6" *ngFor="let pokemon of pokemonList">
            <mat-card>
                <mat-card-header>
                    <img mat-card-avatar src="../../../../assets/pokebola.png">
                    <mat-card-title>{{ pokemon.name }}</mat-card-title>
                    <mat-card-subtitle>Pokemon</mat-card-subtitle>
                </mat-card-header>

                <img mat-card-image src="../../../../assets/logo.webp" alt="">

                <mat-card-actions align="end">
                    <button class="me-3" color="primary" mat-stroked-button (click)="onAddFavorites(pokemon)">Guardar en
                        Favoritos</button>
                    <button color="primary" mat-stroked-button (click)="onViewDetail(pokemon.url)">Ver Detalle</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <mat-paginator [length]="totalPokemon" [pageSize]="pageSize" [pageIndex]="page" (page)="onPageChange($event)">
    </mat-paginator>
</ng-container>

<ng-template #showMessage>
    <p class="text-center mt-5">Ha ocurrido un error :c</p>
</ng-template>