<div class="d-flex">
    <span matSnackBarLabel class="p-3 d-block">
        Se agrego a tu seccion de favoritos
    </span>

    <span matSnackBarActions>
        <button mat-button matSnackBarAction (click)="onViewFavorites()">Ver</button>
    </span>
</div>