<ng-container *ngIf="listFavorites!.length > 0; else showMessage">
    <h2 class="f2 mt-5">Lista de Favoritos</h2>
    <div class="row mt-5">
        <div class="col-12 col-md-4 col-lg-6" *ngFor="let pokemon of listFavorites">
            <mat-card>
                <mat-card-header>
                    <img mat-card-avatar src="../../../../assets/pokebola.png">
                    <mat-card-title>{{ pokemon.name }}</mat-card-title>
                    <mat-card-subtitle>{{pokemon.experience}}</mat-card-subtitle>
                </mat-card-header>

                <img mat-card-image src="../../../../assets/logo.webp" alt="">

                <mat-card-content>
                    <h3>
                        Altura: {{ pokemon.height }}
                    </h3>

                    <h3>
                        Peso: {{ pokemon.weight }}
                    </h3>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</ng-container>

<ng-template #showMessage>
    <div class="w-100 text-center">
        <p class="my-5 fs-2">No tienes favoritos</p>
        <button color="primary" mat-stroked-button routerLink="./list">Agregar Pokemon</button>
    </div>
</ng-template>