<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '350px' }">
        <mat-toolbar color="primary">
            <span>{{ 'pokedex' | uppercase }}</span>
            <div class="spacer"></div>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>sports_esports</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <mat-list-item *ngFor="let item of menuItems" [routerLink]="item.url" (click)="sidenav.toggle()"
                routerLinkActive="selected">
                <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                <span>{{ item.label }}</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>